<div class="left_sidebar">
    <div class="classicWindow">
        <div class="howeverThatBarNames">
            <label data-i18n-key="sidebar.bio">Bio</label>
            <div class="upperButtons">
                <button>_ </button>
                <button>□</button>
                <button>×</button>
            </div>
        </div>
        <div id="owner_info">
            <div id="pfp_container">
                <img src="../../../../../../../media/gallery/keeby-sfw/Keeby_sfw14.png" alt="profile picture from discord" class="image_frame"> 
            </div>
            <div id="text_info">
                <h2>Icoyin</h2>
                <h3>Status:</h3>
                <h3 id="discord_status">Offline</h3> <!-- Offline como fallback en caso de que el Script no haya cargado correctamente 🥴-->
            </div>
        </div>
    </div>
        <div id="link_folder" class="classicWindow">
        <div class="howeverThatBarNames">
            <label data-i18n-key="sidebar.links">Links</label>
            <div class="upperButtons">
                <button>_ </button>
                <button>□</button>
                <button>×</button>
            </div>
        </div>
        <div class="windowInside">
        <ul>
            <li>
                <a href="../../../../../../../landing.html">
                    <img src="../../../../../../../media/icons/pc.png">
                    <span data-i18n-key="nav.home">Inicio</span>
                </a>
            </li>
            <li>
                <a href="../../../../../../../webmaster.html">
                    <img src="../../../../../../../media/icons/book1.png">
                    <span data-i18n-key="nav.about-me">Sobre mi</span>
                </a>
            </li>
            <li>
                <a href="../../../../../../../aboutOC.html">
                    <img src="../../../../../../../media/icons/book3.png">
                    <span data-i18n-key="nav.story">Historia</span>
                </a>
            </li>
            <li>
                <a href="../../../../../../../blog.html">
                    <img src="../../../../../../../media/icons/notes.png">
                    <span data-i18n-key="nav.blog">Publicaciones</span>
                </a>
            </li>
            <li>
                <a href="../../../../../../../linktree.html">
                    <img src="../../../../../../../media/icons/msn.png">
                    <span data-i18n-key="nav.socials">Sociales</span>
                </a>
            </li>
            <li>
                <a href="../../../../../../../projects.html">
                    <img src="../../../../../../../media/icons/sidebar.png">
                    <span data-i18n-key="nav.projects">Proyectos</span>
                </a>
            </li>
            <li>
                <a href="../../../../../../../gallery.html">
                    <img src="../../../../../../../media/icons/gallery.png">
                    <span data-i18n-key="nav.gallery">Galeria</span>
                </a>
            </li>
        </ul>
    </div>
    </div>
    <div class="classicWindow">
        <div class="howeverThatBarNames">
            <label data-i18n-key="sidebar.follow-title">Aditional Options</label>
            <div class="upperButtons">
                <button>_ </button>
                <button class="noResizable">□</button>
                <button>×</button>
            </div>
        </div>
        <div class="windowInside">
            <!--# follow class="follow_button" title="Follow this site!"-->
            <div style="margin-top: 8px; text-align: center;">
                <button id="languageToggleButton" class="languageToggleButton"></button>
            </div>
            <!--hola 👋
            yo aun no saber muy bien ingles 😔
            no traducir 🚫
            aprende español hijo de puta 💥-->
        </div>
    </div>
</div>

<script src="../scripts/layout/left-sidebar.js" defer></script>